

body{
    color: #612406;
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul li{
    background-color: #F3DF85;
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    
}

#special-li{
    font-size: 1.4em;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    height: 80px;
    width: 200px;
}
ul li img{
    width: 60px;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    height: 150px;
    width: 100%;
    background-color: #FBF7E3;
    border-radius: 100px;
}